@import '../../styles/colors';

$text-primary: $cultured;
$text-secondary: #eff1f3;
$bg-primary: $charcoal;
$bg-secondary: $eden;
$transition-speed: 400ms;

.navbar {
  background-color: $bg-primary;
  position: fixed;
  transition: width 600ms ease;
  z-index: 10;

  &:hover {
    .logo {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  .navbar-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    width: 100%;

    &:last-child {
      margin-top: auto;
    }
  }

  .nav-link {
    align-items: center;
    color: $text-primary;
    display: flex;
    height: 5rem;
    text-decoration: none;
    transition: $transition-speed;

    &:hover {
      background: $bg-secondary;
      color: $text-secondary;
      font-weight: bolder;
    }

    svg {
      margin: 0 1.5rem;
      min-width: 2rem;
      width: 2rem;
    }
  }

  .link-text {
    display: none;
    margin-left: 1rem;
  }

  .logo {
    background: $bg-secondary;
    color: $text-secondary;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3ch;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    svg {
      transform: rotate(0deg);
      transition: $transition-speed;
    }
  }

  .logo-text {
    display: inline;
    font-size: 1.6em;
    left: -999px;
    position: absolute;
    transition: $transition-speed;
  }
}

/* Small screens */
@media (max-width: 599px) {
  .navbar {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 5rem;
    width: 100vw;

    .logo {
      display: none;
    }

    .navbar-nav {
      flex-direction: row;
    }

    .nav-item {
      &:last-child {
        margin: 0;
      }

      .nav-link {
        align-items: center;
        font-size: 0.9rem;
      }
    }
  }
}

/* Large screens */
@media (min-width: 600px) {
  .navbar {
    height: 100vh;
    top: 0;
    width: 5rem;

    .active {
      background: $bg-secondary;
    }

    .nav-link {
      font-size: 1.25rem;

      .link-text {
        opacity: 0;
        transition: opacity 1.25s ease-in-out;
      }
    }

    &:hover {
      box-shadow: 3px 0px 7px 0px rgba(26, 25, 26, 1);
      width: 16rem;

      .link-text {
        display: inline;
        opacity: 1;
      }

      .logo {
        svg {
          margin-left: 11rem;
        }
      }

      .logo-text {
        left: 0px;
      }
    }
  }
}
