@import '../../styles/colors';

$text-primary: $charcoal;
$text-secondary: #eff1f3;
$bg-primary: #eff1f3;
$bg-secondary: $eden;
$transition-speed: 400ms;

.navbar {
  background-color: $bg-primary;
  position: fixed;
  transition: width 600ms ease;
  z-index: 10;

  &:hover {
    .logo svg {
      transform: rotate(-180deg);
    }
  }

  .navbar-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    width: 100%;

    &:last-child {
      margin-top: auto;
    }
  }

  .nav-link {
    align-items: center;
    color: $text-primary;
    display: flex;
    height: 4rem;
    text-decoration: none;
    transition: $transition-speed;

    &:hover {
      background: $bg-secondary;
      color: $text-secondary;
      font-weight: bolder;
    }

    svg {
      margin: 0 0.65rem;
      min-width: 2rem;
      width: 2rem;
    }
  }

  .link-text {
    display: inline;
    margin-left: 0.15rem;
  }

  .logo {
    background: $bg-secondary;
    border-bottom: 2px inset $cultured;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.3ch;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    .nav-link {
      color: $text-secondary;
    }

    svg {
      transform: rotate(0deg);
      transition: $transition-speed;
    }

    .logo-text {
      display: inline;
      font-size: 1.4em;
      margin: 0 0.75rem;
    }
  }
}

/* Small screens */
@media (max-width: 599px) {
  .navbar {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 5rem;
    width: 100vw;

    .logo {
      display: none;
    }

    .navbar-nav {
      flex-direction: row;
    }

    .nav-item {
      &:last-child {
        margin: 0;
      }

      .nav-link {
        align-items: center;
        font-size: 0.9rem;
      }

      .link-text {
        display: none;
      }
    }
  }
}

/* Large screens */
@media (min-width: 600px) {
  .navbar {
    border-right: 3px solid $eden;
    height: 100vh;
    top: 0;
    width: 13rem;

    .active {
      background-color: $bg-secondary;
      color: $text-secondary;
    }

    .nav-link {
      font-size: 1.25rem;
    }
  }
}
