.title {
  text-shadow: 3px 3px 4px black;
  color: #dad8d8;
}

.form-container {
  text-align: left;
  padding: 2rem;

  form {
    width: 100%;

    button[type='submit'] {
      width: 100%;
    }
  }
}
