@import '../../../styles/colors';

.landing-page {
  display: grid;
  grid-template-rows: 300px auto 160px;
  height: 100vh;

  .landing-page-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    h1 {
      font-size: 48px;
    }

    .buttons {
      border-left: 3px solid $gunmetal;
      padding-left: 3rem;

      button {
        margin: 2.5rem 1rem;

        &:first-child {
          margin-right: 1rem;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      padding-top: 1.5rem;
      place-content: flex-start;

      h1 {
        font-size: 32px;
      }

      .buttons {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .landing-page-content {
    justify-self: center;

    .content-art {
      height: 480px;
      width: 600px;

      @media (max-width: 768px) {
        height: 240px;
        width: 300px;
      }
    }
  }

  footer {
    background-color: $charcoal;
    color: $cultured;
    margin-top: 2rem;
    padding: 3rem;
  }
}
